
:root {
  --card-height: 130px;
  --card-width: calc(var(--card-height) * (6 / 4));
  --i: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  transform: translate(
    calc(var(--card-height) / 2 * -1),
    calc(var(--card-height) / 2 * -1)
  );
}

.card {
  width: var(--card-height);
  height: var(--card-width);
  position: absolute;

  background-color: hsl(calc(315 - 40 * (var(--n) - 1)), 100%, 60%);
  transform: rotate(calc(-45deg + 10deg * (var(--n) - 1)));
  transform-origin: center 120%;
  z-index: calc(-1 * var(--n));
}

.card:nth-child(1) {
  --n: 1;
}
.card:nth-child(2) {
  --n: 2;
}
.card:nth-child(3) {
  --n: 3;
}
.card:nth-child(4) {
  --n: 4;
}
.card:nth-child(5) {
  --n: 5;
}
.card:nth-child(6) {
  --n: 6;
}
.card:nth-child(7) {
  --n: 7;
}
.card:nth-child(8) {
  --n: 8;
}
.card:nth-child(9) {
  --n: 9;
}